version: '3.9'

services:
  api:
    build: .
    container_name: FastAPI-Project
    ports:
      - "8000:8000"
    environment:
      - API_KEY=semaphore
      - JWT_SECRET_KEY=SunFLOWer24
      - REDIS_URL=redis://redis:6379
      - ENV=development
      - DB_PATH=app/db/users.db
    volumes:
      - db_data:/app/app/db      # persist SQLite database
    depends_on:
      - redis
      - prometheus
    networks:
      - backend

  streamlit:
    build: .
    container_name: Streamlit-UI
    command: streamlit run streamlit_app.py --server.port 8501 --server.address 0.0.0.0
    ports:
      - "8501:8501"
    environment:
      - API_BASE=http://api:8000
    depends_on:
      - api
    networks:
      - backend

  redis:
    image: redis:alpine
    container_name: redis_project
    ports:
      - "6379:6379"
    networks:
      - backend

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus_project
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - backend

  grafana:
    image: grafana/grafana:latest
    container_name: grafana_project
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    networks:
      - backend

volumes:
  db_data:

networks:
  backend:
    driver: bridge